%div.row
  %div.col-lg-6.col-lg-offset-3
    %h2
      Add new category
      %div{ :class => 'btn-group pull-right', :role => 'group' }
        = link_to categories_path, class: 'btn btn-primary btn-sm' do
          %span.glyphicon.glyphicon-chevron-left
          Back
    
    %hr
    
    = render 'form'