%div.row
  %div.col-lg-6.col-lg-offset-3
    %h2
      New product
      %div{ :class => 'btn-group pull-right', :role => 'group' }
        = link_to category_products_path, class: 'btn btn-primary btn-sm' do
          %span.glyphicon.glyphicon-chevron-left
          Back

    %hr

    = render 'form'