%hr
%p= review.content
%small
  From:
  %em.text-muted
    = review.author
  at:
  %em.text-muted
    = review.published_at
%p.text-warning
  - review.rating.times do
    %span.glyphicon.glyphicon-star
  - (5-review.rating).times do
    %span.glyphicon.glyphicon-star-empty
